body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      to right,
      rgb(57, 72, 73),
      rgba(255, 255, 255, 0)
    ),
    url("./public/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

button {
  background-color: #156b60;
  cursor: pointer;
}

header {
  position: fixed;
  background: linear-gradient(to right, rgb(3, 41, 44), rgba(255, 0, 0, 0));
  width: 100%;
  opacity: 0.99;
  z-index: 1000;
}
.navbar-container {
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-style: italic;
  font-size: 18px;
}

.logo-section img {
  padding: 0px 15px;
  width: 65px;
  height: 45px;
}

.navbar-container .links a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 14px;
}

.searchbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding: 10px 25px;
  opacity: 0.5;
  border-radius: 30px;
}
#searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}
.searchbar-container input {
  border-style: none;
  margin-right: 40px;
  height: 25px;
  font-size: 14px;
}

.searchbar-container img {
  width: 25px;
  cursor: pointer;
}

.searchbar-container button {
  margin: 0px 5px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  font-size: 14px;
}

.main-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
}

.main-container .main-inner-container {
  margin-top: 200px;
  margin-left: 180px;
}

.main-container #h-tag {
  font-weight: bold;
  font-size: 70px;
  width: 300px;
}

.main-container p {
  width: 350px;
  font-size: 20px;
}

.main-container button {
  margin-top: 15px;
  font-size: 20px;
  width: 180px;
  height: 50px;
  border-style: none;
  opacity: 0.7;
  color: #fff;
  cursor: pointer;
}

.main-container .left-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-left: 50px;
}

.main-container #h-line {
  background-color: #fff;
  height: 240px;
  width: 2px;
  border-radius: 20px;
  opacity: 0.7;
}
.main-container .social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 100px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#list-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 70%;
  margin-top: 90px;
  width: 540px;
  padding: 10px;
  color: #09373a;
}
.card-container{
  background-color:#ffffff ;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 20px;
  height: 100%;
}
.card-img img{
  width: 100%;
  max-height: 400px;
}

.card-disc {
  padding: 10px 20px;
}
.card-disc p{
  width: 100%;
  word-wrap:break-word;
}
#cardBtn{
  width: auto;
  padding: 10px 25px;
  border-radius: 5px;
}
.main-container .main-inner-container-about {
  margin-top: 100px;
  margin-left: 180px;
}

.main-inner-container-about p {
  width: 1000px;
  font-size: 20px;
}

.main-inner-container-about #h-tag-about {
  font-weight: bold;
  font-size: 70px;
  width: 400px;
}

.main-inner-container-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 300px;
  height: 100vh;
}
.main-inner-container-contact div {
  flex: 1;
}

.main-inner-container-contact h1 {
  font-weight: bold;
  font-size: 70px;
}

.main-inner-container-contact form {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.main-inner-container-contact input {
  border-color: #09373a !important;
  border-width: 1px !important;
  background-color: #09373a;
  opacity: 0.7;
  color: #fff;
  font-size: large;
  font-weight: bold;
  height: 50px;
}
.main-inner-container-contact textarea {
  background-color: #09373a;
  opacity: 0.6;
  border-color: #09373a !important;
  border-width: 1px !important;
  color: #fff;
  font-size: large;
  font-weight: bold;
}
.team-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-left: 180px;
}
.team-container h1 {
  word-wrap: break-word;
  font-weight: bold;
  font-size: 70px;
}

.team-detail-card {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  margin-right: 25px;
  border-radius: 10px;
}
.team-detail-container {
  display: flex;
  justify-content: space-evenly;
}
.profile-info {
  width: 170px;
  display: flex;
  flex-direction: column;
}

.team-detail-card img {
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 20px;
}
.profile-info p {
  width: 100%;
  word-wrap: break-word;
}

.team-detail-card span {
  background-color: #09373a;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
}
